.about_wrapper{
    display:flex;
    justify-content: center;
}

.contact_title{
    width: 80%;
    border-bottom: 2px solid white;
    padding: 3px 0;
}

.contact_box{
    width:400px;
    padding: 0 20px;
}

.photo_box{
    width:400px;
}

.about_title{
    text-align:center;
    width: 90%;
    border-bottom: 1px solid white;
    margin: 40px auto;
}