/*Slider Bar*/
.slider_bar_container{
    width: 100vw;
    /* display: flex; */
    /* justify-content: center; */
}
.slider_bar_title_card{
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction:column;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.slider_bar_title{
  /* justify-self: center; */
  /* align-self: center; */
  transition-duration: 0.5s;
  background-color: lightblue;
  width: 525px;
  height: 100px;
  position:absolute;
  margin-top:100px;
  margin-left:87px;
}

.slider_bar_title p{
    color:white;
    font-family: serif;
    font-size: 40px;
    line-height: 1em;
    margin-top: 25px;
    text-align:center;
}

.slider_bar_preview{
  margin-left: 175px;
  width: 175px;
  transition-duration: 0.5s;
  background-color: lightcoral;
  height: 200px;
  margin-top: 50px;
  position:absolute;
  color: rgba(255,255,255,0)
}

.slider_bar_fullview{
    height: 0;
    width: 600px;
    background-color: gray;
    margin: 150px 50px 0 50px;
    position:absolute;
}

.slider_bar_preview p{
    color: transparent;
    transition-duration: 0.6s;
}

.slider_bar_title_card:hover .slider_bar_preview p{
    color:white;
}

.slider_bar_title_card:hover .slider_bar_title{
  margin-top:200px;
  margin-left:175px;
}

.slider_bar_title_card:hover .slider_bar_preview{
  justify-self: flex-start;
  align-self: flex-start;
  width: 525px;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  color: rgba(255,255,255,1);
  height: 200px;
}