*{
  /* border: 1px solid rgba(255,255,255,0.2); */
  box-sizing: border-box;
  /* padding:5px; */
  background-color:rgb(32, 35, 36);
  color:white;
}

p{
  background-color: transparent;
}

/*Homepage*/

/* header */
header{
  text-align:center;
  color:white;
  background-color: rgb(55, 58, 59);
  height: 400px;
  display:flex;
  flex-direction: column;
  justify-content: center;;
}

header h1{
  font-size: 50px;
  height: 80px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: transparent;
}

header h2{
  font-size: 25px;
  letter-spacing: 0.5em;
  font-weight:normal;
  background-color: transparent;
  transition-duration: 1.5s;
}

header h2:hover{
  letter-spacing: 1em;
  transition-duration: 0.5s;
}

h1 p{
  display:inline-block;
  line-height:1em;
  padding: 0 0.25em;
  transition-duration: 1s;
}

h1 p:hover{
  font-size: 80px;
  transition-duration: 0.2s;
}
/* nav bar */
nav{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(55, 58, 59);
  padding: 10px 0;
  border-top: 1px solid rgb(158, 158, 158);
  border-bottom: 1px solid rgb(158, 158, 158);
}

nav a{
  padding: 10px;
  width: 200px;
  text-align:center;
  letter-spacing: 0.5em;
  text-decoration: none;
  border: 1px solid white;
  color:white;
  background-color: rgb(55, 58, 59);
  transition-duration: 1s;
}

nav a:hover{
  background-color:white;
  color: black;
  transition-duration: 0.25s;
}

/* links */
.linkbox-wrapper{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.linkbox{
  display: flex;
}

.link-image{
  width:200px;
  height: 300px;
  border: 1px solid black;
}

.link-image p{
  z-index: 1;
  
}

.link-image-bg{
  width: 180px;
  height: 100px;
  transform: skew(-20deg);
  position: absolute;
  background-color:gray;
  border: 2px solid black;
  transition-duration: 0.5s;
}
.bg-content{
  height: 100%;
  width:120%;
  background-image: url("https://www.clipart.com/images/articles/article1.png");
}

.link-image:hover .link-image-bg{
  height:290px;
  transform: translate(-34px,0) skew(-20deg);
}

/* Slider Bar
.slider-bar-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.slider-bar-title-card{
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: center;
}

.slider-bar-title{
  /* justify-self: center; */
  /* align-self: center; */
  /* transition-duration: 0.5s;
  background-color: lightblue;
} */

/* .slider-bar-preview{ */
  /* justify-self: center; */
  /* align-self: flex-start;
  margin-left: 175px;
  width: 175px;
  transition-duration: 0.5s;
  background-color: lightcoral;
}

.slider-bar-title-card:hover .slider-bar-title{
  justify-self: flex-end;
  align-self: flex-end;
}

.slider-bar-title-card:hover .slider-bar-preview{
  justify-self: flex-start;
  align-self: flex-start;
  width: 525px;
  margin-left: 0;
} */